
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
  --bg-color:black;
  --text-color:white;
}
.dark{
  --bg-color:white;
  --text-color:black;
}

.app{
  background: var(--bg-color);
  color: var(--text-color);
}